@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Noto+Serif+Old+Uyghur&family=Playfair+Display&display=swap');

.site__inner {
    padding: 16px;
}
.site__title {
    position: sticky;
    margin-top: 12vw;
    top: -6vw;
    text-align: center;
    left: 29vw;
    width: 45vw;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 2.5vw;
    /* font-family: var(--mainKor-font); */
    text-transform: uppercase;
    color: #f9faff;
    /* border-bottom: 0.3vw solid var(--black100); */
    /* margin-bottom: 22px; */
    height: 13vw
}
.site__title em {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2;
    padding: 0 3.5vw;
}

.site__item {
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    left: 0;
    margin: 0 0.5vw;
    border-radius: 32px;
   
}
.site__item.s1 {
    /* box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, .3);  */
    background: url("../section/img/slide4.jpg") no-repeat center / cover;
    top: 5vw;
}
.site__item.s2 {
    /* box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, .3);  */
    background: url("../section/img/slide5-1.jpg") no-repeat center / cover;
    top: 4.9vw;
}
.site__item.s3 {
    /* box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, .3);  */
    background: url("../section/img/slide6-1.jpg") no-repeat center /cover;
    top: 4.9vw;
}
.site__item.s4 {
    background-color: #232429;
    background: url("../section/img/slide24.png") no-repeat;
    height: 116vh;
    font-size: 2vw;
    text-align: center;
    top: 5vw;
    background-position: center;
}
.site__item .num {
    font-size: 6.5vw;
    line-height: 1;
    font-weight: 300;
    letter-spacing: -0.5vw;
    /* font-family: var(--mainNum-font); */
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 44vw;
    top: 4.4vw;
    color: var(--mainBg-color);
    /* text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.856); */
}
.site__item .text {
    text-align: center;
    margin-bottom: 1rem;
}
.site__item .text > div {
    font-size: 7vw;
    line-height: 1;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    /* text-decoration: underline; */
    color: var(--black200);
    position: absolute;
    top: 4.5vw;
    left: 4vw;
}
.site__item .title {
    margin-bottom: 1rem;
    color: var(--mainBg-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: -0.5vw;
    text-transform: uppercase;
    font-size: 4.5vw; 
}
.site__item .btn a {
    /* text-decoration: underline; */
    text-transform: uppercase;
    font-size: 1rem;
    transition: all 0.3s;
    color: var(--mainBg-color);
}
.site__item .btn a:hover {
    color: var(--black);
}
.site__item .info {
    position: absolute;
    left: -4.5%;
    bottom: 19%;
    /* width: 19%; */
    margin-left: 17%;
    height: 46%;
    border-left: 3px solid var(--mainBg-color);
    /* border-bottom: 1px solid var(--mainBg-color); */
    display: flex;
    justify-content: space-between;
}
.fa-solid {
    color:var(--black200);
    font-size: 3vw;
    position: absolute;
    top: 13vw;
    left: 44.5vw;
}
.site__item .info span {
    font-family: var(--mainKor-font);
    font-size: 12px;
    padding: 3px 0;
    text-transform: uppercase;
    color: var(--mainBg-color);
}
.site__item p {
    color: #fff;
    text-align: left;
    position: absolute;
    left: 45.5vw;
    bottom: 8vw;
    font-family: var(--mainKor-font);
    padding-right: 9vw;
    font-size: 1vw;
}
.site__item .kim {
    color: var(--black200);
}
.site__item .kom {
    border-left: 3px solid var(--black300);
}

@media (max-width: 1700px){
    .site__item.s4 {
        background-color: #232429;
        background-image: none;
        height: 89vh;
        font-size: 40px;
        text-align: center;
        top: 5vw;
    }
}

@media (max-width: 580px){
    .site__item {
        height: 39vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: sticky;
        left: 0;
        margin: 0 0.5vw;
        border-radius: 32px;
    }
    .site__item p {
        display:none;
    }
    .fa-solid {
        color: var(--black200);
        font-size: 25px;
        position: absolute;
        top: 337px;
        left: 23.5px;
    }
}
@media (max-width: 1200px){
    .site__title {
      display: none;
        /* background-color: var(--mainBg-color); */
    }
    .site__item.s1 {
        top: 140px;
    }
    .site__item.s2 {
        top: 160px;
    }
    .site__item.s3 {
        top: 180px;
    }
    .site__item.s4 {
        top: 200px;
    }
    .site__item .num {
        font-size: 12vw;
        left: 20px;
        top: 20px;
    }
    .site__item .text > div {
        display: none;
    }
    .site__item .info {
        flex-direction: column;
        width: 20%;
        margin-left: 15%;
        padding: 5px 0;
    }
    .site__item p {
        font-size: 17px;
        padding: 0 8vw 0 0;
        position: absolute;
        top: 156px;
        left: 17px;
        width: 100%;
    }
    .fa-solid {
        color: var(--black200);
        font-size: 8vw;
        position: absolute;
        top: 5vw;
        left: 78vw;
    }
    
}