@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Noto+Serif+Old+Uyghur&family=Playfair+Display&display=swap');

.site__inner {
    padding: 16px;
}
.site__title {
    position: sticky;
    top: 70px;
    left: 0;
    width: 70%;
    height: 5vw;
    font-size: 4vw;
    font-weight: 600;
    line-height: 1.6;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--black100);
    border-bottom: 0.3vw solid var(--black100);
    margin-bottom: 100px;
}
.site__title em {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2;
}
.site__item {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    left: 0;
    box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, .3); 
    border-radius: 13px;
}
.site__item.s1 {
    background: url("../section/img/slide1.jpg") no-repeat center / cover;
    top: 180px;
}
.site__item.s2 {
    background: url("../section/img/slide2-2.jpg") no-repeat center / cover;
    top: 200px;
}
.site__item.s3 {
    background: url("../section/img/slide3.jpg") no-repeat center /cover;
    top: 220px;
}
.site__item.s4 {
    background-color: var(--subBg400);
    background: url("../section/img/back3.png") no-repeat center /cover;
    top: 240px;
}
.site__item .num {
    font-size: 6.5vw;
    line-height: 1;
    font-weight: 300;
    letter-spacing: -0.5vw;
    /* font-family: var(--mainNum-font); */
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 16vw;
    top: 12.4vw;
    color: var(--mainBg-color);
    /* text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.856); */
}
.site__item .text {
    text-align: center;
    margin-bottom: 1rem;
}
.site__item .text > div {
    font-size: 3vw;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    /* text-decoration: underline; */
    font-family: var(--mainEng-font);
    color: var(--mainBg-color);
}
.site__item .title {
    font-family: var(--mainKor-font);
    margin-bottom: 1rem;
    color: var(--mainBg-color);

}
.site__item .btn a {
    /* text-decoration: underline; */
    text-transform: uppercase;
    font-size: 1rem;
    transition: all 0.3s;
    color: var(--mainBg-color);
}
.site__item .btn a:hover {
    color: var(--black);
}
.site__item .info {
    position: absolute;
    left: -4.5%;
    bottom: 19%;
    /* width: 19%; */
    margin-left: 17%;
    height: 46%;
    border-left: 3px solid var(--mainBg-color);
    /* border-bottom: 1px solid var(--mainBg-color); */
    display: flex;
    justify-content: space-between;
}

.site__item .info span {
    font-family: var(--mainKor-font);
    font-size: 12px;
    padding: 3px 0;
    text-transform: uppercase;
    color: var(--mainBg-color);
}
.site__item p {
    color: #fff;
    text-align: left;
    position: absolute;
    left: 17%;
    bottom: 20%;
    /* font-size: 1vw; */
}
.site__item .kim {
    color: var(--black200);
}
.site__item .kom {
    border-left: 3px solid var(--black300);
}
@media (max-width: 800px){
    .site__title {
        width: 100%;
        margin-bottom: 10vw;
        font-size: 30px;
        height: auto;
        top: 68px;
        z-index: 1000;
        /* background-color: var(--mainBg-color); */
    }
    .site__item.s1 {
        top: 140px;
    }
    .site__item.s2 {
        top: 160px;
    }
    .site__item.s3 {
        top: 180px;
    }
    .site__item.s4 {
        top: 200px;
    }
    .site__item .num {
        font-size: 80px;
        left: 20px;
        top: 20px;
    }
    .site__item .text > div {
        font-size: 26px;
    }
    .site__item .info {
        flex-direction: column;
        width: 20%;
        margin-left: 15%;
        padding: 5px 0;
    }
    .site__item p {
        font-size: 1.7vw;
        padding: 0 20px 0 0;
    }
}